
body{
	background-color:white;
	font-family: my, sans-serif;
	color:#303030;

}
img{
	width:15%;
	height:15%;
}
label, li{
		font-family: my, sans-serif;
		color:#303030;
}

@font-face {
	font-family: "my";
	src: url('fonts/Bellota-LightItalic.otf');
}

#forms{

	background-color:#15C5BD;
	border-radius:10%;

	
}
.d-flex{

	background-image:url("../../assets/image/hackers-poulette-logo.png");
	background-repeat: no-repeat;
	background-position: center;	
}
#robot{
	 opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        height: 0;
        width: 0;
        z-index: -1;
	}

