
body{
	background-color:white;
}

#nav-bar{
	background-color:#46E866;
}

#forms{

	background-color:#46E866;
}

#formsOne, #formsTwo{
	background-color:white;
	border-style:solid;
	border-color:black;
}

